# Path match pattern to ignore when searching for files.
# See https://code.visualstudio.com/api/working-with-extensions/publishing-extension#using-.vscodeignore for more details.

.vscode/**
.vscode-test/**
.gitignore

# directories
syntax-samples
node_modules
package-lock.json