# Path match pattern to ignore when searching for files.
# See https://code.visualstudio.com/api/working-with-extensions/publishing-extension#using-.vscodeignore for more details.

.vscode/**
.vscode-test/**
.gitignore
assets/
!assets/extension-marketplace-icon.png
!assets/extension-marketplace-icon-2x.png
