# Path match pattern to ignore when searching for files.
# See https://code.visualstudio.com/api/working-with-extensions/publishing-extension#using-.vscodeignore for more details.

# Excluded files
.DS_Store
.gitignore
package-lock.json

# Excluded directories
.vscode/
.vscode-test/
syntax-samples/
node_modules/